<% layout("layouts/boilerplate")-%>

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-2" role="alert" >
        <h3> Status: <%=statusCode%></h3>
        <h2 class="alert-heading">Message: <%=message%></h2>
  </div>
</div>